// Person Component Styles
// Styles for person items and people archive

@use 'variables';


    .item-person {
        display: flex;
        flex-direction: column;
      gap: variables.$spacing-sm;

      .person-meta {
        font-weight:bold;
      }

      .person-image {
        width: 100%;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }